fastapi
uvicorn[standard]
redis
python-dotenv

sqlalchemy
psycopg2-binary

stripe
openai

httpx
pydantic-settings
PyJWT==2.8.0
python-multipart==0.0.9
requests
PyJWT[crypto]
cryptography
supabase
pytest
pytest-asyncio
ruff

